.border {
  border: 1px solid black;
}
.padding-none {
  padding: 0;
}
.list-covers-wrap {
  margin-top: 90px;
}
.list-covers-segment {
  background: white;
  box-shadow: 1px 1px 2px #888888;

}
.main-header{
  border-bottom: 1px solid #e8e8e8;
}
.figure-img {
	text-align: center;
	display: table;
	max-width: 30%;
	margin: 10px auto;
	line-height: 20px;

	transition: 0.2s;
  border-bottom: 3px white solid;

}
.figure-img img {
	width: 140px;
	height: 180px;

}
.figure-img:hover {
	/*box-shadow: 4px 4px 8px #888888;*/
	/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
  border-bottom: 3px #993333 solid;
}
.center {
	text-align: center;
}
hr {
	border-color: #e8e8e8;
}
figcaption {
	margin-left: 5px;
	width: 144.6px;
}
figure div {
	margin-left: 5px;
	width: 144.6px;
}

.title {
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
  color: #993333;
}
.author {
	font-family: "Calibri", sans-serif;
	font-weight: 500;
	color: gray;
	text-align: left;
	font-size: 14px;
	display: block;
}
.author i {
  margin-right: 5px;
}

.genre {
	font-family: "Calibri", sans-serif;
	font-weight: 400;
	color: gray;
	text-align: left;
	font-size: 13px;
}

.chapter {
	font-family: "Calibri", sans-serif;
	color: gray;
	font-size: 12px;
	text-align: left;
}
.chapter i {
  margin-right: 5px;
}

.view {
	position: relative;
	font-family: "Calibri", sans-serif;
	color: gray;
	font-size: 12px;
	text-align: center;
	margin-top: -19.5px;
	margin-left: -10px;
}
.view i {
  margin-right: 5px;
}

.truncate {
	width: 129.6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.route-img {
	height: 180px;
}
.route-title{
	color: #993333;
}
.route-title:hover {
  color: #993333;
}
.route-genre {
  color: #555;
}
