#nav {
  background: #fff;
  border-color: #fff;
  border-radius: 0;
  box-shadow: 2px 2px 2px #888888;

  margin-bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
}
#nav-header a{
  color: black;
  font-weight: bold;
  font-size:21px;
}
#basic-nav-dropdown {
  color: black;
  font-size: 19px;
  font-weight: bold;
}
#basic-nav-dropdown:hover {
  background:  #1a1a1a;
  color: white;
}
#basic-nav-dropdown:focus {
  background:  #1a1a1a;
  color: white;
}
#nav-item{
  color: black;
  font-size:19px;
  font-weight: bold;
}

#nav-item:hover {
  background:  #1a1a1a;
  color: white
}

#genre-item {
  display: block;
}

.dropdown-menu {
  width: 450px;
}

.genre-item {
  display: inline-block;
  width: 33%;
}
